# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
.env
*.egg-info/
dist/
build/

# Django
*.sqlite3
staticfiles/
media/

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.vscode/
.idea/
.codex

# OS
.DS_Store
Thumbs.db

# Logs
*.log
